$rmc-main-color: #61DAFB !default;
$rmc-accent-color: currentColor !default;
$rmc-spinner-color: $rmc-accent-color !default;
$rmc-bar-color: white !default;
$rmc-highlighted-bar-color: $rmc-accent-color !default;
