@import '../styles/constants';
@import '../styles/mixins';

.rmc-cropper-wrapper {
	padding: 40px 10px;
	overflow: hidden;
	background: black;
	max-height: 100%;
	&--with-navigation {
		padding-bottom: 80px;
	}

	&__content {
		position: relative;
	}

	&__fade {
		flex-grow: 1;
		min-height: 0;
	}

	&__navigation {
		position: absolute;
		bottom: 0;
		max-width: 450px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}

	&__spinner {
		@include hideable();
		stroke: $rmc-spinner-color;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
