@import '../styles/constants';

.rmc-cropper {
	background: black;
	max-height: 100%;
	color: $rmc-main-color;
}

.rmc-rectangle-stencil, .rmc-circle-stencil {
	&__line {
		border-color: rgba($rmc-line-color, 0.8);
	}

	&__handler-wrapper {
		width: $rmc-handler-wrapper-size;
		height: $rmc-handler-wrapper-size;

		&--west-north {
			transform: translate(-$rmc-handler-padding - 1, -$rmc-handler-padding - 1);
		}

		&--east-south {
			transform: translate(-$rmc-big-handler-size - $rmc-handler-padding + 1, -$rmc-big-handler-size - $rmc-handler-padding + 1);
		}

		&--west-south {
			transform: translate(-$rmc-handler-padding - 1, -$rmc-big-handler-size - $rmc-handler-padding + 1);
		}

		&--east-north {
			transform: translate(-$rmc-big-handler-size - $rmc-handler-padding + 1, -$rmc-handler-padding - 1);
		}
	}

	&__handler {
		display: block;
		position: relative;
		flex-shrink: 0;
		transition: opacity 0.5s;
		border: none;
		background: $rmc-base-color;
		top: auto;
		left: auto;
		height: $rmc-small-handler-size;
		width: $rmc-small-handler-size;
		opacity: 0;

		&--west-north,
		&--east-south,
		&--west-south,
		&--east-north {
			display: block;
			height: $rmc-big-handler-size;
			width: $rmc-big-handler-size;
			background: none;
			opacity: 0.7;
		}

		&--west-north {
			border-left: solid $rmc-big-handler-width $rmc-base-color;
			border-top: solid $rmc-big-handler-width $rmc-base-color;
		}

		&--east-south {
			border-right: solid $rmc-big-handler-width $rmc-base-color;
			border-bottom: solid $rmc-big-handler-width $rmc-base-color;
		}

		&--west-south {
			border-left: solid $rmc-big-handler-width $rmc-base-color;
			border-bottom: solid $rmc-big-handler-width $rmc-base-color;
		}

		&--east-north {
			border-right: solid $rmc-big-handler-width $rmc-base-color;
			border-top: solid $rmc-big-handler-width $rmc-base-color;
		}

		&--hover {
			opacity: 1;
		}
	}
}

.rmc-circle-stencil {
	&__line {
		border-color: rgba($rmc-line-color, 0.3);
	}
	&__preview {
		border: solid 2px rgba($rmc-line-color, 0.4);
	}
	&__handler {
		&--hover {
			opacity: 1;
		}
	}
}
