@import '../styles/constants';

.rmc-cropper {
	background: black;
	max-height: 100%;
}

.rmc-rectangle-stencil, .rmc-circle-stencil {
	&__line {
		border-color: rgba($line-color, 0.8);
	}

	&__handler-wrapper {
		width: $handler-wrapper-size;
		height: $handler-wrapper-size;

		&--west-north {
			transform: translate(-$handler-padding - 1, -$handler-padding - 1);
		}

		&--east-south {
			transform: translate(-$big-handler-size - $handler-padding + 1, -$big-handler-size - $handler-padding + 1);
		}

		&--west-south {
			transform: translate(-$handler-padding - 1, -$big-handler-size - $handler-padding + 1);
		}

		&--east-north {
			transform: translate(-$big-handler-size - $handler-padding + 1, -$handler-padding - 1);
		}
	}

	&__handler {
		display: block;
		position: relative;
		flex-shrink: 0;
		transition: opacity 0.5s;
		border: none;
		background: $rmc-main-color;
		background: var(--rmc-main-color);
		top: auto;
		left: auto;
		height: $small-handler-size;
		width: $small-handler-size;
		opacity: 0;

		&--west-north,
		&--east-south,
		&--west-south,
		&--east-north {
			display: block;
			height: $big-handler-size;
			width: $big-handler-size;
			background: none;
			opacity: 0.7;
		}

		&--west-north {
			border-left: solid $big-handler-width $rmc-main-color;
			border-left: solid $big-handler-width var(--rmc-main-color);
			border-top: solid $big-handler-width $rmc-main-color;
			border-top: solid $big-handler-width var(--rmc-main-color);
		}

		&--east-south {
			border-right: solid $big-handler-width $rmc-main-color;
			border-right: solid $big-handler-width var(--rmc-main-color);
			border-bottom: solid $big-handler-width $rmc-main-color;
			border-bottom: solid $big-handler-width var(--rmc-main-color);
		}

		&--west-south {
			border-left: solid $big-handler-width $rmc-main-color;
			border-left: solid $big-handler-width var(--rmc-main-color);
			border-bottom: solid $big-handler-width $rmc-main-color;
			border-bottom: solid $big-handler-width var(--rmc-main-color);
		}

		&--east-north {
			border-right: solid $big-handler-width $rmc-main-color;
			border-right: solid $big-handler-width var(--rmc-main-color);
			border-top: solid $big-handler-width $rmc-main-color;
			border-top: solid $big-handler-width var(--rmc-main-color);
		}

		&--hover {
			opacity: 1;
		}
	}
}

.rmc-circle-stencil {
	&__line {
		border-color: rgba($line-color, 0.3);
	}
	&__preview {
		border: solid 2px rgba($line-color, 0.4);
	}
	&__handler {
		&--hover {
			opacity: 1;
		}
	}
}
